@import "../../../../styles/fonts";
@import "../../../../styles/colors";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  position: sticky;
  position: -webkit-sticky;

  padding: 30px 90px;
  .header__brand {
    span {
      font-family: $AmazingKids;
      color: white;
      font-size: 2.5rem;
      font-weight: lighter;
    }
  }
  .header__actions {
    display: flex;
    align-items: center;
    nav + button {
      margin-left: 40px;
    }
    nav {
      a + a {
        margin-left: 20px;
      }
      a {
        color: rgb(255, 255, 255, 0.5);
        &:active {
          color: rgb(255, 255, 255);
        }
        &:focus {
          color: rgb(255, 255, 255);
        }
        .defaultFocus:link {
          color: rgb(255, 255, 255);
        }
      }
    }
    button {
      padding: 15px;
      width: 120px;
      border-radius: 3px;
      border: none;
      background-color: white;
      font-weight: bold;
      color: $primary;
    }
  }
}
