@font-face {
  font-family: "Satoshi";
  src: url(../assets/fonts/Satoshi/Satoshi-Regular.otf);
}
@font-face {
  font-family: "Satoshi";
  src: url(../assets/fonts/Satoshi/Satoshi-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Amazing Kids";
  src: url(../assets/fonts/AmazingKids/AmazingKids.ttf);
}
@font-face {
  font-family: "Clash Display";
  src: url(../assets/fonts/ClashDisplay/ClashDisplay-SemiBold.otf);
}

$Satoshi: "Satoshi", sans-serif;
$AmazingKids: "Amazing Kids", sans-serif;
$ClashDisplay: "Clash Display", sans-serif;
