@import "../../styles/fonts";
@import "../../styles/colors";

.landingPage {
  overflow: hidden;
  scroll-behavior: smooth;
  .landingPage__main {
    overflow-y: scroll;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    .landingPage__heroSection {
      background-color: $primary;
      display: flex;
      height: 85vh;
      color: white;

      padding: 30px 90px 0px 90px;
      .landingPage__heroSection-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        h1 {
          font-family: $ClashDisplay;
          font-size: 3.8rem;
          margin-top: 0rem;
        }
        p {
          width: 75%;
          text-transform: capitalize;
          font-size: 1rem;
          margin-top: 20px;
          opacity: 0.7;
        }
        .landingPage__heroSection-buttons {
          margin-top: 30px;
          width: 100%;
          display: flex;
          button + button {
            margin-left: 20px;
          }
          button {
            height: 54px;
            &:first-child {
              background: none;
              width: 216px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              opacity: 0.9;
              border: 1px solid rgb(255, 255, 255, 0.6);
              .fa-solid.fa-arrow-up {
                rotate: 45deg;
                margin-left: 10px;
              }
            }
            &:nth-child(2) {
              background: white;
              width: 145px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $primary;
            }
            padding: 20px;
            font-size: 0.8rem;
          }
        }
        .landingPage__heroSection-previews {
          margin-top: 20px;
          width: 50%;
          .landingPage__heroSection-previews_Img {
            position: relative;
            img {
              position: absolute;
              width: 64px;
              &:nth-child(1) {
                left: 0;
              }
              &:nth-child(2) {
                left: 2.5rem;
              }
              &:nth-child(3) {
                left: 5rem;
              }
              &:nth-child(4) {
                left: 7.5rem;
              }
              &:nth-child(5) {
                left: 10rem;
              }
            }
          }
          .landingPage__heroSection-previews_Info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 24%;
            margin-left: 70%;
            font-size: 0.9rem;
            h2 {
              font-family: $ClashDisplay;
            }
            span {
              opacity: 0.8;
            }
          }
        }
      }
      .landingPage__heroSection-right {
        position: relative;
        img {
          position: absolute;
        }
        #heroImage {
          width: 620px;
          bottom: 0;
          left: 5rem;
        }
        #vscodeIcon {
          left: 36rem;
          top: 3rem;
          width: 80px;
        }
        #bulbIcon {
          top: 1rem;
          left: 2rem;
          width: 203.72px;
          height: 186.74px;
        }
        #figmaIcon {
          bottom: 15rem;
          width: 93.6px;
          left: 2rem;
        }
        #wordpressIcon {
          bottom: 1.7rem;
          width: 80px;
          left: 38rem;
        }
        #circleVector1 {
          width: 25px;
          top: 14rem;
          left: 8rem;
        }
        #circleVector2 {
          width: 12px;
          top: 5rem;
          right: 40rem;
        }
        #triangleVector {
          width: 30px;
          top: 16rem;
          left: 39rem;
        }
        #dotVector1 {
          width: 10px;
          top: 5rem;
          right: 13rem;
        }
        #dotVector2 {
          width: 10px;
          bottom: 6rem;
          left: 6rem;
        }
        #blueZigzagVector {
          top: 23rem;
          right: 46.5rem;
          width: 50px;
        }
        #curlyArrowVector {
          width: 140px;
          bottom: 9rem;
          left: -6rem;
        }
      }
    }
    .landingPage__mediaLinks {
      display: flex;
      background-color: $veryLightBlue;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        li {
          padding: 2%;
        }
      }
    }
    .landingPage__classes {
      display: flex;
      height: 700px;
      padding: 30px 90px;
      background-color: $offWhite;
      .landingPage__classes-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        padding: 0px 30px;
        position: relative;
        #twistVector {
          position: absolute;
          top: 6rem;
          right: 48.5rem;
        }
        h1 {
          font-family: $ClashDisplay;
          // font-size: 3rem;
          width: 80%;
          font-size: 50px;
          line-height: 70px;
        }
        p {
          opacity: 0.4;
          text-transform: capitalize;
          width: 70%;
          line-height: 28px;
          font-size: 14px;
        }
        button {
          width: 140px;
          height: 46px;
          background-color: $primary;
          color: white;
          border-radius: 3px;
          border: none;
          margin-top: 20px;

          padding: 10px;
        }
        .landingPage__classes-resources {
          width: 80%;
          button {
            background-color: white;
            border-radius: 5px;
            height: 60px;
            color: black;
            display: inline-flex;
            align-items: center;
            padding: 20px;
            font-weight: bold;
            img {
              margin-right: 20px;
            }

            &:first-child {
              margin-right: 20px;
              width: 212px;
            }
            &:nth-child(2) {
              margin-right: 20px;
              width: 200px;
            }
            &:nth-child(3) {
              margin-right: 20px;
              width: 231px;
            }
            &:nth-child(4) {
              width: 200px;
            }
          }
        }
      }
      .landingPage__classes-right {
        position: relative;
        img {
          position: absolute;
        }

        #mediaImage1 {
          width: 606px;
          top: 3rem;
          left: -5rem;
          z-index: 2;
        }
        #mediaImage2 {
          width: 360px;
          bottom: 4rem;
          right: -7rem;
          z-index: 3;
        }
        #enrolledStudents {
          width: 200px;
          top: 13rem;
          right: 1rem;
          z-index: 3;
        }
        #dropletsVector {
          bottom: 8rem;
          left: 23rem;
          z-index: 1;
        }
        #greenZigzagVector {
          top: 1rem;
          left: 37.7rem;
          z-index: 1;
        }
        #bigPurpleCircleVector {
          bottom: 4rem;
          left: 37.8rem;
          z-index: 1;
        }
        #smallPurpleCircleVector {
          bottom: 3rem;
          left: 20rem;
          z-index: 1;
        }
      }
    }
    .landingPage__offers {
      display: flex;
      height: 700px;
      padding: 30px 90px;
      background-color: $offWhite;
      .landingPage__offers-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        position: relative;
        margin-right: 40px;
        h1 {
          text-transform: capitalize;
          font-family: $ClashDisplay;
          width: 100%;
          font-size: 46px;
          line-height: 70px;
        }
        p {
          opacity: 0.4;
          text-transform: capitalize;
          width: 85%;
          line-height: 28px;
          font-size: 14px;
          margin-top: 20px;
        }
        #offersImage {
          width: 605px;
          margin-top: 40px;
        }
        #greenTriangleVector {
          position: absolute;
          bottom: 6rem;
          left: -4rem;
        }
      }
      .landingPage__offers-right {
        padding-left: 40px;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        gap: 30px;
        height: 92%;
        position: relative;
        .landingPage__offers-right_card {
          width: 260px;
          background-color: white;
          border-radius: 10px;
          padding: 30px 20px;
          img {
            width: 40px;
            margin-bottom: 20px;
          }
          h1 {
            font-size: 0.9rem;
            margin-bottom: 10px;
          }
          p {
            text-transform: capitalize;
            opacity: 0.4;
            line-height: 28px;
            font-size: 12px;
            width: 95%;
          }
        }
        #yellowZigzagVector {
          position: absolute;
          top: -5rem;
          right: 22rem;
          width: 65px;
        }
        #purpleCircleVector {
          position: absolute;
          bottom: -4rem;
          right: -4rem;
        }
      }
    }
    .landingPage__courses {
      display: flex;
      flex-direction: column;
      padding: 30px 90px;
      background-color: $offWhite;
      .landingPage__courses-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        width: 60%;
        h1 {
          text-transform: capitalize;
          font-family: $ClashDisplay;
          width: 100%;
          font-size: 48px;
          // line-height: 70px;
        }
        p {
          opacity: 0.4;
          text-transform: capitalize;
          width: 75%;
          line-height: 28px;
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }
  .landingPage__main::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
